<tr>
  <td><%= pinn.description %></td>
  <td><%= link_to 'Show', pinn %></td>
  <td><%= link_to 'Edit', edit_pinn_path(pinn) %></td>
  <td><%= link_to 'Destroy', pinn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>