<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			   <%= @pinn.description %>
			</p>
			<p>
			   <%= @pinn.user.name %>
			</p>
			<% if current_user == @pinn.user %>
			<%= link_to 'Edit', edit_pinn_path(@pinn) %> | <% end %>
			<%= link_to 'Back', pinns_path %>
		</div>	
	</div>
</div>		